h2 {
  padding-top: 20px;
  padding: 15px;
}

.list {
  float: left;
}

.btn-group {
  display: block;
  width: 100%
}

.btn-group button {
  padding: 5px;
  margin: 2px;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus {
  outline: none;
  box-shadow: none;
}

.done {
  opacity: 0.6;
}

.row {
  padding-bottom: 10px;
}

.card-text {
  padding-bottom: 15px;
}

.card-header {
  height: 70px;
}

.card-text {
  padding-left: 20px;
}

em {
  float: right;
  color: #e05c65;
  padding-left: 10px;
}
