<div [routerLink]="['/todo/new']">
  <h1>New To Do</h1>
  <hr />
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-6">
      <form [formGroup]="newTodoForm">
        <div class="form-group" [ngClass]="{'error': title.invalid && title.dirty }">
          <label for="title">Title: </label>
          <em *ngIf="title.invalid && (title.dirty || title.touched)">Required</em>
          <input formControlName="title" required type="text" class="form-control" placeholder="To Do Title..." />
        </div>
        <div class="form-group" [ngClass]="{'error': priority.invalid && priority.dirty }">
          <label for="priority">Priority: </label>
          <em *ngIf="priority.invalid && (priority.dirty || priority.touched)">Required</em>
          <select formControlName="priority" required class="form-control">
            <option value="">Select priority...</option>
            <option value="1">High</option>
            <option value="2">Medium</option>
            <option value="3">Low</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'error': category.invalid && category.dirty }">
          <label for="category">Category: </label>
          <em *ngIf="category.invalid && (category.dirty || category.touched)">Please select a category or create a new
            one.</em>
          <div class="input-group">
            <select formControlName="category" required class="form-control">
              <option value="">Select category...</option>
              <option *ngFor="let category of categories; let i = index" value="{{i}}">{{category}}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-secondary" (click)="createCategory()">Add New Category</button>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'error': dueDate.invalid && dueDate.dirty }">
          <label for="dueDate">Due date: </label>
          <em *ngIf="dueDate.invalid && (dueDate.dirty || dueDate.touched)">Required</em>
          <div class="input-group">
            <input formControlName="dueDate" required ngbDatepicker #d="ngbDatepicker" name="dueDate" type="text" class="form-control"
              placeholder="mm/dd/yyyy" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'error': location.invalid && location.dirty }">
          <label for="location">Location: </label>
          <em *ngIf="location.invalid && (location.dirty || location.touched)">Please select a location or create a new
            one.</em>
          <div class="input-group">
            <select formControlName="location" required class="form-control">
              <option value="">Select location...</option>
              <option *ngFor="let location of locations; let i = index" value={{i}}>{{location}}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-secondary" (click)="createLocation()">Add New Location</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="details">Details: (optional) </label>
          <textarea formControlName="details" name="details" rows=3 class="form-control" placeholder="Extra details if needed..."></textarea>
        </div>
        <button type="submit" [disabled]="newTodoForm.invalid" class="btn btn-primary">Save</button>
        <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
      </form>
    </div>
  </div>
</div>
